@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;

}

::placeholder {
    text-align: center;
    font-size: 16px;
}

textarea {
    text-align: center;

}

textarea {
    resize: vertical;
    min-height: 250px;
    max-height: 250px;
}

.main-page {
    height: 100vh;
    width: 100%;
    color: white;
}

/* navbar */
.navbar-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 8%;
    background-color: #222222;
    z-index: 2;
}

.fixed {
    position: fixed;
}

.nav-buttons {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.active {
    border-bottom: 2px solid #191e7b;
}

.navbut {
    padding: 0px 20px;
    height: 40px;
    background-color: #222222;
    ;
    color: white;
    font-size: 20px;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #222222;
    border-left: 2px solid #222222;
    border-right: 2px solid #222222;
    text-transform: uppercase;
    /* border-bottom: 2px solid blue; */
}

.unactive {
    border-bottom: 2px solid #222222;
}

.navbut:hover {
    border-bottom: 2px solid #191e7b;
    transition: .3s;
}

.hero-image-text {
    width: 70%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

/* openning Page */
.hero-image {
    width: 100%;
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(./img/row_of_trucks.jpg); */
    background-color: #333333;
    background-repeat: no-repeat;
    background-size: cover;

    color: azure;
}

.hero-image-cont1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-image-seperator {
    width: 40px;
    height: 0px;
    border-width: 1px;
    border-color: #191e7b;
}

.zapytanie {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);

    padding: 20px 20px;
    border: 2px solid #191e7b;
    cursor: pointer;
    color: azure;
    font-size: 15px;
    text-transform: uppercase;
}

/* serwis  */
.serwis {
    width: 100%;
    height: 92vh;
    border-top: 2px solid #222222;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.serwis-text-p {
    color: white;
    font-size: 20px;
    text-align: center;
    width: 600px;
}

.serwis-widgets {
    display: flex;
}

.serwis-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    margin: 0px 15px;
    /* overflow: hidden;
    border-radius: 20px 20px; */

    /* justify-content: flex-end; */
}

.serwis-widget-text {
    width: 100%;
    height: 150px;
    background-color: #222222;
    color: white;
    display: flex;
    flex-direction: column;

}

.serwis-widget-img {
    justify-self: flex-start;
    width: 100%;
    height: 300px;
    background-color: #191e7b;
}

#serwis-widget-text-h3 {
    margin-bottom: 5px;
}

.serwis-widget-text-h {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.serwis-widget-text-p {
    text-align: center;
}

.serwis-footer {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

/* serwis footer */
.serwis-footer-h {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.serwis-footer-p {
    font-size: 15px;
    text-transform: none;
    font-weight: 200;
}

.serwis-footer-checkmorebut {
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 15px;
    font-weight: 400;
    border: solid 3px #191e7b;
    background-color: #191e7b;
}

/* Doswiadczenie */
.doswiadczenie {
    width: 100%;
    height: 82vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    border-top: 2px solid #222222;
    background-color: #333333;
}

.doswiadczenie-text {
    justify-self: center;
    background-color: #333333;
    width: 60%;
    align-self: center;
}

.doswiadczenie-img {
    background-image: url('https://cdn.bitrix24.pl/b12844639/landing/de3/de3f4f8f084457394daaa6398e8624b8/58603d4808414_2x_1x_1x.jpg');
    background-size: cover;
}

.doswiadczenie-text-h {
    width: 80%;
    text-align: center;
}

.doswiadczenie-text-h-h1 {
    text-align: start;
}

.doswiadczenie-text-h-h3 {
    color: #191e7b;
    text-align: start;
    margin-top: 20px;
}

.doswiadczenie-text-p {
    margin-top: 50px;
    line-height: 1.4;
}

.doswiadczenie-text-checkmorebut {
    margin-top: 40px;
    background-color: #191e7b;
    border: #191e7b 1px solid;
    padding: 20px 30px;
    font-size: 15px;
    font-weight: 400;
    color: white;
}

.naszezalety {
    width: 100%;
    height: 82vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    border-top: 2px solid #222222;
    background-color: #333333;
}

.naszezalety-img {
    background-image: url('./img/rowoftrucks.jpg');
    background-size: cover;
}

.naszezalety-text {
    justify-self: center;
    background-color: #333333;
    width: 60%;
    align-self: center;
}

.naszezalety-text-h {
    margin-bottom: 20px;
}

.naszezalety-text-h-h1 {}

.naszezalety-text-p {
    margin-bottom: 20px;
    line-height: 1.4;
}

.naszezalety-cytat {}

.naszezalety-cytat-text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 25px;
}

.naszezalety-cytat-podpis {}

.naszezalety-cytat-podpis-signature {
    width: 300px;
    height: 150px;
    position: relative;
    left: -50px;
    z-index: 0;
}

.naszezalety-cytat-podpis-cont {
    display: flex;
}

.naszezalety-cytat-podpis-p {
    width: 200px;

}

.naszezalety-cytat-podpis-highlight {
    color: #191e7b;
    width: 50%;
    margin: none;
}

.oferta {
    width: 100%;
    height: 82vh;
    border-top: 2px solid #222222;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oferta-cont {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.oferta-text {}

.oferta-widgets {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.oferta-widgets-cont1,
.oferta-widgets-cont2 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.oferta-widgets-widget {
    width: 400px;
    height: 200px;
    background-color: #222222;
    border-bottom: #222222 solid 2px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    transition: border 0.3s;
    z-index: 0;
}

.oferta-widgets-widget:hover {
    border-bottom: #191e7b solid 2px;
    transition: border 0.3s;
}

.oferta-widgets-widget-icon {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    align-self: center;
}

.oferta-widgets-widget-cont {
    width: 60%;
    margin: 20px;
}

.oferta-widgets-widget-h {
    margin-bottom: 10px;
    margin-top: 10px;
}

.oferta-widgets-widget-p {}

.oferta-checkmorebut {
    margin-top: 40px;
    background-color: #191e7b;
    border: #191e7b 1px solid;
    padding: 20px 30px;
    font-size: 15px;
    font-weight: 400;
    color: white;
}

.partnerzy {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.partnerzy-text {
    color: #343434;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.partnerzy-text-h {
    text-transform: uppercase;
}

.partnerzy-text-higlight {
    color: #191e7b;
}

.partnerzy-widgets {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.partnerzy-widgets-widget {
    width: 200px;
}

.kontaktform {
    width: 100%;
    height: 82vh;
    background-color: #333333;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.kontaktform-text {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kontaktform-form {
    width: 30%;
    height: 60%;
    display: flex;
    justify-content: center;
}

.kontaktform-form-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

#WycenaCheckbox {}

#KontaktCheckbox {}

.kontaktform-form-cont-imie {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 40px;
    margin-top: 20px;
}

.kontaktform-form-cont-telefonlubemail {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 40px;
    margin-top: 15px;
}

#imie {
    width: 100%;
    border-radius: 5px;
    height: 40px;
}

#telefonlubemail {
    width: 100%;
    border-radius: 5px;
    height: 40px;

}

#msg {
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
}

.Kontaktform-form-formcont {
    width: 100%;
    border-radius: 5px;
}

.kontaktform-form-cont-adreszaladunku {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 70px;
    margin-top: 20px;
}

#adreszaladunku {
    width: 100%;
    border-radius: 5px;
}

.kontaktform-form-cont-adresdostawy {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 70px;
    margin-top: 20px;
}

.kontaktform-form-cont-daneprzesylki {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 70px;
    margin-top: 20px;
}



.kontaktform-submitbut {
    background-color: #191e7b;
    border: #191e7b 1px solid;
    padding: 20px 30px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    margin: 20px;
}

.footer {
    width: 100%;
    height: 30vh;
    background-color: #222222;
}

.copywrite {
    width: 100%;
    height: 10vh;
    background-color: #222222;
}